<nav class="navbar navbar-transparent navbar-absolute">
    	<div class="container">
        	{{> navbar}}
    	</div>
    </nav>

    <div class="wrapper">
		<div class="header header-filter" style="background-image: url('../assets/img/city.jpg'); background-size: cover; background-position: top center;">
			<div class="container">
				
				<div class="row">
					<div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3">
						
						
						<div class="card card-signup">
							{{#if error_login}}
							<div class="alert alert-danger">
								<div class="container-fluid">
								<div class="alert-icon">
									<i class="material-icons">error_outline</i>
								</div>
								<button type="button" class="close" data-dismiss="alert" aria-label="Close">
									<span aria-hidden="true"><i class="material-icons">clear</i></span>
								</button>
								<b>Error Alert:</b> {{ msgErrorLogin}} 
								</div>
							</div>
							{{/if}}
							<form class="form" id="loginForm">
								<input type="hidden" name="token" value="{{token}}">
								<div class="header header-primary text-center">
									<h4>Password Reset</h4>
									{{!-- <div class="social-line">
										<a href="#loginfacebook" class="btn btn-simple btn-just-icon">
											<i class="fa fa-facebook-square"></i>
										</a>
										<a href="#logitwitter" class="btn btn-simple btn-just-icon">
											<i class="fa fa-twitter"></i>
										</a>
										<a href="#logingoole" class="btn btn-simple btn-just-icon">
											<i class="fa fa-google-plus"></i>
										</a>
									</div> --}}
								</div>
								{{!-- <p class="text-divider">Or Be Classical</p> --}}
								<div class="content">

									{{!-- <div class="input-group">
										<span class="input-group-addon">
											<i class="material-icons">face</i>
										</span>
										<input type="text" class="form-control" placeholder="First Name..." name="username">
									</div> --}}

									{{!-- <div class="input-group">
										<span class="input-group-addon">
											<i class="material-icons">email</i>
										</span>
										<input type="text" class="form-control" placeholder="Email..." name="email">
									</div> --}}
									<div class="input-group">
										<span class="input-group-addon">
											<i class="material-icons">lock_outline</i>
										</span>
										<input type="password" placeholder="New Password" class="form-control" name="password" />
									</div>

									<div class="input-group">
										<span class="input-group-addon">
											<i class="material-icons">lock_outline</i>
										</span>
										<input type="password" placeholder="Confirm Password" class="form-control" name="confirmpassword" />
									</div>

									<!-- If you want to add a checkbox to this form, uncomment this code -->
									
									{{!-- <div class="checkbox">
										<label>
											<input type="checkbox" name="optionsCheckboxes" checked>
											Remember username
										</label>
									</div> --}}
								</div>
								<div class="footer text-center">
									{{!-- <a href="#pablo" class="btn btn-simple btn-primary btn-lg">Get Started</a> --}}
                                    <input type="submit" name="submit" class="btn btn-simple btn-primary btn-lg" value="Password Reset">
									
								</div>
								
								
								<div class="container">
									{{!-- <div class="row">
										<div class="col-md-6">
											<a href="#" class="btn btn-primary btn-round">
												<i class="fa fa-play"></i> Sig In
											</a>
										</div>
									</div> --}}
											{{!-- <a href="/register" class="btn btn-primary btn-round">
												<i class="fa fa-play"></i> Sig In
											</a> --}}
											
										</div>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>

			{{> footer}}

		</div>

    </div>

	<script src="/js/passwordreset.js"></script>
	<script>

</script>